<div class="container">
  <div class="row">
  <h2 style="text-align: center; margin-top: 50px;">食材・備品編集</h2>

  <div class="col-xs-10 col-xs-offset-1">
  <div style="text-align: center;>
    <%= form_for(@material, url: admin_material_path) do |f| %>
    <%= f.label :名前 %>
    <%= f.text_field :name %>
    <%= f.label :ジャンル %>
    <%= f.select :genre,options_for_select([['米・肉', '米・肉'],['野菜', '野菜'],['調味料','調味料'],['備品','備品'],['その他','その他']]), class: "btn btn-info" %>
    <%= f.submit '追加', class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>
  </div>
</div>
