<div class="container">
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <h2>食材・備品一覧</h2>

  <div class="new materials">
    <%= form_for(@material, url: admin_materials_path) do |f| %>
    <%= "名前" %>
    <%= f.text_field :name %>
    <%= "ジャンル" %>
    <%= f.select :genre,options_for_select([['米・肉', '米・肉'],['野菜', '野菜'],['調味料','調味料'],['備品','備品'],['その他','その他']]), class: "btn btn-info" %>
    <%= f.submit '追加', class: "btn btn-primary" %>
    <% end %>
  </div>

  <table class="table">
	<thead>
		<tr>
			<th>名前</th>
			<th>ジャンル</th>
		</tr>
	</thead>

	<tbody>
		<% @materials.each do |material| %>
		<tr>
            <td><%= material.name %></td>
            <td><%= material.genre %></td>
		</tr>
		<% end %>
	</tbody>
  </table>
  </div>
  </div>
</div>

