<div class="container">
  <div class="row">
    <h2 style="text-align: center; margin-top: 50px;">食材・備品一覧</h2>
      <div class="font_info">
        <div class="col-xs-10 col-xs-offset-1">
          <div style="text-align: center;">
            <%= form_for(@material, url: admin_materials_path) do |f| %>
              <%= f.label :ジャンル %>
              <%= f.select :genre,options_for_select([['米・肉', '米・肉'],['野菜', '野菜'],['調味料','調味料'],['備品','備品'],['その他','その他']]), class: "btn btn-info" %>
              <%= f.label :名前 %>
              <%= f.text_field :name, required: true %>
              <%= f.submit '追加', class: "btn btn-primary" %>
            <% end %>
          </div>

          <table class="table">
	          <thead>
		          <tr>
			          <th>ジャンル</th>
			          <th>名前</th>
		          </tr>
	          </thead>

	          <tbody>
		          <% @materials.each do |material| %>
		            <tr>
                  <td><%= material.genre %></td>
                  <td><%= material.name %></td>
                  <td><%= link_to "編集する", edit_admin_material_path(material.id), class: "btn btn-primary" %></td>
		            </tr>
		          <% end %>
	          </tbody>
          </table>
        </div>
      </div>
    <span id="back">
      <a href="#">
      </a>
    </span>
  </div>
</div>

