<div class="container">
  <div class="row">

  	<h2 style="text-align: center; margin-top: 50px;">弁当編集</h2>

  	  <%= form_for @item, url: admin_item_path(@item) do |f| %>

  	    <div class="col-xs-4">
  	      <%= attachment_image_tag @item, :image, :fill, 200,200, fallback: "no_image.jpg" %>
          <%= f.label :'画像' %>
					<div class="image_button">
  	  	    <%= f.attachment_field :image, id: "file" %>
					</div>
					<div id="img_field" onClick="$('#file').click()" >
            <p>画像選択</p>
          </div>
  	    </div>

        <div class="col-xs-8">
          <table class="table">
		    <tr>
			  <th>商品名</th>
	    	  <th><%= f.text_field :name, class: "col-xs-10" %></th>
			</tr>
			<tr>
			  <th>商品説明</th>
	    	  <th><%= f.text_area :text, class: "col-xs-10" %></th>
			</tr>
			<tr>
			  <th>税込価格</th>
	    	  <th><%= f.text_field :price, class: "col-xs-10"%>円</th>
			</tr>
			<tr>
			  <th>販売ステータス</th>
	    	  <th><%= f.select :sale_status,options_for_select([['販売中', '販売中'], ['販売停止中', '販売停止中']]), class: "btn btn-info" %></th>
		    </tr>
	      </table>
	    </div>
	    <%= f.submit "変更を保存",  class: "btn btn-primary pull-right" %>
	  <% end %>
  </div>
</div>
