<div class="container">
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h4>会員の方はこちらからログイン</h4>
    <%= flash[:error] %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :'メールアドレス' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :'パスワード' %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="form-actions">

        <h6><%= link_to "=>パスワードを忘れた方はこちら", new_user_password_path, class: "col-xs-offset-left4" %></h6>
        <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
      <a><%= link_to "新規登録の方はこちら", new_user_registration_path %></a>
  </div>
  </div>
</div>
