<div class="container">
  <div class="row">
    <h4 style="text-align: center; margin-top: 100px;">会員の方はこちらからログイン</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-xs-8 col-xs-offset-2">
          <table class="table">
            <tr>
              <th><%= f.label :'メールアドレス' %></th>
              <th><%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %></th>
            </tr>

            <tr>
              <th><%= f.label :'パスワード' %></th>
              <th><%= f.password_field :password, autocomplete: "current-password", required: true %></th>
            </tr>
          </table>
        <%= f.submit "ログイン", class: "btn btn-primary col-xs-offset-5" %>
        </div>
      <% end %>
  </div>
</div>

