<div class="container">
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
  <h2>発注書作成</h2>

  <table class="table">
	<thead>
		<tr>
			<th>名前</th>
			<th>ジャンル</th>
		</tr>
	</thead>

	<tbody>
    <%= form_for [@order,@order_material], url: admin_order_materials_path do |f| %>
		  <% @materials.each do |material| %>
		    <tr>
          <%= f.hidden_field :material_id, value: material.id %>
          <td><%= material.name %></td>
          <td><%= material.genre %></td>
          <td><%= f.select :material_count,options_for_select((0..10)) %></td>
		    </tr>
      <% end %>
    <%= f.label :納品日 %>
    <%= f.date_select :delivery_date, discard_year: true, use_month_numbers: true, date_separator: '月', selected:Date.tomorrow %>日
    <%= f.submit '発注書作成', class: "btn btn-primary pull-right" %>
    <% end %>
	</tbody>
  </table>
  </div>
  </div>
</div>