<div class="container">
  <div class="row">
  <h2 style="text-align: center; margin-top: 50px;">発注書作成</h2>

  <%= form_with url: admin_orders_path do |form| %>
  <div class="col-xs-10 col-xs-offset-1">
  <table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>ジャンル</th>
    </tr>
  </thead>

  <tbody>
      <% @order_materials.each do |order_material| %>
        <%= form.fields_for 'order_materials[]', order_material do |f| %>
        <tr>
          <%= f.hidden_field :material_id, :value => order_material.material.id %>
          <td><%= order_material.material.name %></td>
          <td><%= order_material.material.genre %></td>
          <td><%= f.select :material_count,options_for_select((0..10)) %></td>
        </tr>
     <% end %>
    <% end %>
  </tbody>
  </table>
  </div>
  <div class="date_info"><%= form.label :納品日, class: "col-xs-offset-2" %>
  <%= form.date_select :delivery_date, discard_year: true, use_month_numbers: true, date_separator: '月', selected:Date.tomorrow %></div>
  <%= form.submit '発注書作成', class: "btn btn-primary pull-right" %>
  <% end %>
  </div>
</div>