<div class="container">
  <div class="row">
    <h2 style="text-align: center; margin-top: 100px;">会員編集</h2>

    <%= form_for @user, url: user_path(@user) do |f| %>
      <div class="col-xs-10 col-xs-offset-1">
        <table class="table">
          <tr>
            <th><%= f.label :氏名 %></th>
            <th>(姓)<%= f.text_field :first_name %>
                (名)<%= f.text_field :last_name %></th>
          </tr>

          <tr>
            <th><%= f.label :メールアドレス %></th>
            <th><%= f.email_field :email, class: "col-xs-10" %></th>
          </tr>

          <tr>
            <th><%= f.label :利用予定住所 %></th>
            <th><%= f.select :address, options_for_select([["未選択","未選択"],['六本木', '六本木'], ['銀座', '銀座'],['赤坂','赤坂']]), class: "btn btn-info" %></th>
          </tr>

          <tr>
            <th><%= f.label :誕生日 %></th>
              <% if @user.birthday.present? %>
                <th><%= @user.birthday.strftime('%-m月  %-d日') %></th>
              <% else %>
                <th><%== sprintf(
                    f.date_select(
                      :birthday,
                        {:discard_year => true,
                        :use_month_numbers => true,
                        :date_separator => '%s',
                        :time_separator =>'時',
                        :datetime_separator =>'日'},
                        :onchange => "generateDay(this)"
                      ), '月'
                    )
                  %>日
                  <p>※誕生日を一度登録されると変更できなくなります</p>
                </th>
              <% end %>
          </tr>
        </table>

        <tr>
          <th><%= f.submit "変更を保存する", class: "btn btn-primary col-xs-3 col-xs-offset-3" %></th>
          <th><%= link_to "退会する", users_withdrawal_path(current_user), class: "btn btn-danger col-xs-3" %></th>
        </tr>
      </div>
    <% end %>
  </div>
</div>