<div class="container">
  <div class="row">
    <% if @user.errors.any? %>
    <div id="error-explanation">
      <h2><%= @user.errors.count %> errors prohibited this book from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <h2>会員編集</h2>

    <%= form_for @user, url: user_path(@user) do |f| %>
    <table class="table">
      <div class="field">
        <tr>
          <th><%= f.label :氏名 %></th>
          <th><%= f.text_field :first_name %></th>
          <th><%= f.text_field :last_name %></th>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <th><%= f.email_field :email, class: "col-xs-12" %></th>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><%= f.label :利用予定住所 %></th>
          <th><%= f.select :address, options_for_select([["未選択","未選択"],['六本木', '六本木'], ['銀座', '銀座'],['赤坂','赤坂']]), class: "btn btn-info" %></th>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><%= f.label :誕生日 %></th>
          <% if @user.birthday.present? %>
          <th><%= @user.birthday.strftime('%-m月  %-d日') %></th>
          <% else %>
          <th><%= f.date_select :birthday, discard_year: true, use_month_numbers: true, date_separator: '月', prompt: "--" %>日</th>
          <% end %>
        </tr>
      </div>

      <div class="actions">
        <tr>
          <%# if @user.birthday.update? %>
          <%#= f.submit "変更を保存する", class: "btn btn-primary", data: { confirm: "誕生日を登録しますか？
            一度登録されると変更できなくなります" } %>
          <%# else %>
          <th><%= f.submit "変更を保存する", class: "btn btn-primary" %></th>
          <%# end %>
          <th><%= link_to "退会する", users_withdrawal_path(current_user), class: "btn btn-danger" %></th>
        </tr>
      </div>
    </table>
    <% end %>
  </div>
</div>