<div class="container">
  <div class="row">
	  <h2 style="text-align: center; margin-top: 100px;">会員詳細</h2>
	    <div class="col-xs-6 col-xs-offset-3">
	      <table class="table">
	        <tr>
		        <th>氏名</th>
		        <th><%= @user.name %></th>
	        </tr>

	        <tr>
		        <th>メールアドレス</th>
		        <th><%= @user.email %></th>
	        </tr>

	        <tr>
		        <th>利用予定住所</th>
		        <th><%= @user.address %></th>
	        </tr>

	        <tr>
            <th>誕生日</th>
	          <th><%= @user.birthday.strftime('%-m月  %-d日') %></th>
	        </tr>
	      </table>
        <%= link_to '編集する', edit_user_path(@user), class: "btn btn-primary col-xs-4 col-xs-offset-4" %>
      </div>

  	  <h3 style="text-align: center; margin-top: 30%; ">ご利用可能なクーポン</h3>

      <div class="col-xs-4">
  	    <%= attachment_image_tag @item_ranking.first, :image, :fill, 250, 250, fallback: "no_image.jpg" %>
  	  </div>

  	  	<div class="col-xs-7" style="margin-left: 5%;">
          <table class="table">
		        <tr>
			        <th>商品名</th>
	    	      <th><%= @item_ranking.first.name %></th>
	    	    </tr>
	      </table>
            <p style="font-size: 30px; margin-left: 10%;">生活応援クーポン</br>
              <%= @item_ranking.first.price %> 円 =>  <a style="font-size: 50px; color: #FF69A3; text-decoration: none;"><%= (@item_ranking.first.price - 50).to_i %> 円</a>
            </p>
            <div class="item_<%= @item_ranking.first.id %>">
              <%= render 'items/popular', item: @item_ranking.first %>
            </div>
  </div>
</div>