<div class="container">
  <div class="row">

  <% if current_user.birthday.month == Time.current.month %>
		<div class="birthday_photo">
		  <div class="ribon">
		    <div class="caption"><span>Happy</span></div>
		    <p class="birthday_title">
			  Happy Birthday!
			  </p>
			  <p class="birthday_text">
			  今月お誕生日のあなたへ</br>
			  特別クーポンをプレゼント</br>
        ぜひご利用ください
			  </p>
			</div>
		</div>
			<p class="birthday_coupon">
			Happy Birthdayクーポン</br>
			お弁当１品どれでも100円引き
			</p>
  <% end %>

  	<h2 style="text-align: center; margin-top: 100px;">クーポン</h2>

      <div class="col-xs-4">
  	  <%= attachment_image_tag @item_ranking.first, :image, :fill, 250, 250, fallback: "no_image.jpg" %>
  	  </div>
        <div class="font_info">
  	  	  <div class="col-xs-7" style="margin-left: 5%;">
            <table class="table">
		          <tr>
			          <th>商品名</th>
	    	        <th><%= @item_ranking.first.name %></th>
	    	      </tr>
	          </table>
          </div>
        </div>

            <p style="font-size: 30px; margin-left: 40%; margin-top: 10%;">お仕事応援クーポン</br>
               <%= @item_ranking.first.price %> 円 =>  <a style="font-size: 50px; color: #FF69A3; text-decoration: none;"><%= (@item_ranking.first.price - 50).to_i %> 円</a>
            </p>

            <div class="item_<%= @item_ranking.first.id %>">
              <%= render 'items/popular', item: @item_ranking.first %>
            </div>

	          <p class="coupon_comment">表示価格より50円引きとなるクーポンです</br>
	                                    注文の際にこの画面をご提示ください
	          </p>
            <p class="coupon_info">
            ※ 投票数の多いものが選ばれやすくなります</br>
            お気に入りのお弁当にぜひ投票ください</br>
            (投票は
						<i class="far fa-thumbs-up"></i>
						のアイコンを押してください)
            </p>
  </div>
</div>
