<div class="container">
  <div class="row">

    <%= link_to admin_users_path do %>
      <div class="box">
        <div class="root_box1">会員一覧
        </div>
      </div>
    <% end %>

    <%= link_to admin_items_path do %>
      <div class="box">
        <div class="root_box2">弁当一覧
        </div>
      </div>
    <% end %>

    <%= link_to admin_materials_path do %>
      <div class="box">
        <div class="root_box3">食材一覧
        </div>
      </div>
    <% end %>

    <%= link_to admin_orders_path do %>
      <div class="box">
        <div class="root_box4">発注一覧
        </div>
      </div>
    <% end %>

    <%= link_to home_top_path do %>
      <div class="box">
        <div class="root_box5">ホームページ
        </div>
      </div>
    <% end %>

    <%= link_to new_admin_order_path do %>
      <div class="box">
        <div class="root_box6">発注書作成
        </div>
      </div>
    <% end %>

    <h4>ユーザーの住所登録数</h4>
      <div class="font_info">
        六本木：<%= @address1.count %>
        赤坂：<%= @address2.count %>
        銀座：<%= @address3.count %>
      </div>
  </div>
</div>