<div class="container">
  <div class="row">

  <h2 style="text-align: center;">ランキング</h2>
		<table class="table">
		<tr>
    　<th style="font-size: 35px; text-align: center;">1位</th>
    　<th><%= link_to item_path(@item_ranking.first.id) do %>
          <%= attachment_image_tag(@item, :image, :fill,150,150,fallback: "no_image.jpg") %>
          <% end %>
      </th>
    　<th style="font-size: 35px; text-align: center;"><%= @item_ranking.first.name %></th>
    　<th style="font-size: 35px; text-align: center;"><i class="fas fa-thumbs-up"></i>　<%= @item_ranking.first.favorites.count %></th>
	  </tr>

	  <tr>
      <th style="font-size: 25px; text-align: center;">2位</th>
      <th><%= link_to item_path(@item_ranking.second.id) do %>
          <%= attachment_image_tag(@item, :image, :fill,150,150,fallback: "no_image.jpg") %>
          <% end %>
      </th>
      <th style="font-size: 25px; text-align: center;"><%= @item_ranking.second.name %></th>
      <th style="font-size: 25px; text-align: center;"><i class="fas fa-thumbs-up"></i>　<%= @item_ranking.second.favorites.count %></th>
	  </tr>

	  <tr>
      <th style="font-size: 20px; text-align: center;">3位</th>
      <th><%= link_to item_path(@item_ranking.third.id) do %>
          <%= attachment_image_tag(@item, :image, :fill,150,150,fallback: "no_image.jpg") %>
          <% end %>
      </th>
      <th style="font-size: 20px; text-align: center;"><%= @item_ranking.third.name %></th>
      <th style="font-size: 20px; text-align: center;"><i class="fas fa-thumbs-up"></i>　<%= @item_ranking.third.favorites.count %></th>
	  </tr>
	    </table>
    <h2 style="text-align: center; margin-top: 100px;">弁当一覧</h2>
      <div class="font_info">
        <div class="col-xs-10 col-xs-off-1">
          <table class="table">
            <% @items.each do |item| %>
              <% if item.sale_status == '販売中' %>
                <tr>
                  <td><%= link_to item_path(item.id) do %>
                    <%= attachment_image_tag(item, :image, :fill,150,150,fallback: "no_image.jpg") %>
                      <% end %>
                  </td>
                  <td><%= item.name %></td>
                  <td>¥<%= item.price %></td>

                  <% if user_signed_in? %>
                    <td class="item_<%= item.id %>">
                      <%= render 'items/popular', item: item %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    <% unless user_signed_in? %>
      <p class="login_phote">
      </p>
      <p class="login_top">
        会員登録でよりお得に
      </p>
      <p class="login_comment">
        会員登録いただきますと各種クーポンでの割引や</br>
        お弁当選挙に参加していただけます。
      </p>
        <%= link_to new_user_registration_path do %>
      <div class="sign_up_form">会員登録
      </div>
        <% end %>
    <% end %>

    <div class="shop_info">
      <h4>店舗概要</h4>
        <table class="table">
          <tr>
            <th>店舗名</th>
            <th>Area 42</th>
          </tr>
          <tr>
            <th>出店場所</th>
            <th>六本木  銀座  赤坂</th>
          </tr>
          <tr>
            <th>出店時間</th>
            <th>am 11:00 ~ pm 13:00</th>
          </tr>
        </table>
    </div>
    <p class="shop_phote"></p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12966.288733862459!2d139.724874271739!3d35.66291071522416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b9d3c1c9187%3A0x48f9c248e9169cfe!2z44CSMTA2LTAwMzIg5p2x5Lqs6YO95riv5Yy65YWt5pys5pyo!5e0!3m2!1sja!2sjp!4v1590039656504!5m2!1sja!2sjp" width="40%" height="400" frameborder="0" style="border:0; float: left; margin-right: 5%; margin-left: 5%; margin-top: 5px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12965.199637927213!2d139.75672482174184!3d35.669616663734644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188be701836fbb%3A0x604685b30ba99851!2z44CSMTA0LTAwNjEg5p2x5Lqs6YO95Lit5aSu5Yy66YqA5bqn!5e0!3m2!1sja!2sjp!4v1590040088873!5m2!1sja!2sjp" width="40%" height="400" frameborder="0" style="border:0; float: left; margin-right: 5%; margin-left: 5%; margin-top: 5px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12964.94276473444!2d139.72712382174257!3d35.67119816338334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b811f57f195%3A0x11a6a34cc5074741!2z44CSMTA3LTAwNTIg5p2x5Lqs6YO95riv5Yy66LWk5Z2C!5e0!3m2!1sja!2sjp!4v1590040148037!5m2!1sja!2sjp" width="40%" height="400" frameborder="0" style="border:0; float: left; margin-right: 5%; margin-left: 5%; margin-top: 20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <span id="back">
      <a href="#">
      </a>
    </span>
  </div>
</div>
