<div class="container">
  <div class="row">
    <h2 style="text-align: center; margin-top: 100px;">弁当一覧</h2>
      <div class="font_info">
        <div class="col-xs-10 col-xs-off-1">
          <table class="table">
            <% @items.each do |item| %>
              <% if item.sale_status == '販売中' %>
                <tr>
                  <td><%= link_to item_path(item.id) do %>
                    <%= attachment_image_tag(item, :image, :fill,150,150,fallback: "no_image.jpg") %>
                      <% end %>
                  </td>
                  <td><%= item.name %></td>
                  <td>¥<%= item.price %></td>

                  <% if user_signed_in? %>
                    <td class="item_<%= item.id %>">
                      <%= render 'items/popular', item: item %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    <% unless user_signed_in? %>
      <p class="login_phote">
      </p>
      <p class="login_top">
        会員登録でよりお得に
      </p>
      <p class="login_comment">
        会員登録いただきますと各種クーポンでの割引や</br>
        お弁当選挙に参加していただけます。
      </p>
        <%= link_to new_user_registration_path do %>
      <div class="sign_up_form">会員登録
      </div>
        <% end %>
    <% end %>

    <div class="shop_info">
      <h4>店舗概要</h4>
        <table class="table">
          <tr>
            <th>店舗名</th>
            <th>Area 42</th>
          </tr>
          <tr>
            <th>出店場所</th>
            <th>六本木  銀座  赤坂</th>
          </tr>
          <tr>
            <th>出店時間</th>
            <th>am 11:00 ~ pm 13:00</th>
          </tr>
        </table>
    </div>
    <p class="shop_phote"></p>

  </div>
</div>
