<div class="container">
  <div class="row">
	<h3 style="text-align: center; margin-top: 50px;">会員一覧</h3>
	  <div class="font_info">
	    <div class="col-xs-10 col-xs-offset-1">
	      <table class="table">
		    <thead>
		      <tr>
			    <th>登録日</th>
			    <th>氏名</th>
			    <th>メールアドレス</th>
			    <th>ステータス</th>
		      </tr>
		    </thead>

		    <tbody>
		      <% @users.each do |user| %>
			    <tr>
			      <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
			      <td><%= link_to user.name, admin_user_path(user.id), :style=>"color:black;" %></td>
			      <td><%= user.email %></td>
			      <td><%= user.user_status %></td>
			    </tr>
		      <% end %>
		    </tbody>
	      </table>
	      <%= paginate @users, class: "pagenate" %>
	    </div>
      </div>
  </div>
</div>