<!DOCTYPE html>
<html>
  <head>
    <title>Area42</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Economica:700" rel="stylesheet">
  </head>

  <body>
    <header>
  <nav class="navbar navbar-default" style="background-color: #99CCFF; margin-bottom: 0px;">
    <div class="container-field">
      <div class="navbar-header">
        <p class="navbar-brand"></p>
      </div>
      <div id="navbarEexample7">
      <a class="header_shop_name" href="/" style="text-decoration: none;">
      Area 42
      </a>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;">
        <% if admin_signed_in? %>

        <div class="btn">
        <li><%= link_to "管理画面TOP" , admin_home_top_path %></li>
        </div>

        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
         </li>

        <% elsif current_page?(new_admin_session_path) %>
  <!-- お客さんのヘッダー-->
        <% elsif user_signed_in? %>

        <p class="navbar-text" style="font-size: 15px; font-family: Hannari;">ようこそ  <%= current_user.name %>  さん。</p>

        <li><%= link_to "このサイトについて", home_about_path %></li>

        <li><%= link_to "マイページ", user_path(current_user.id) %></li>

        <li><%= link_to "メニュー", items_path %></li>

        <li><%= link_to "クーポン", coupons_index_path %></li>

        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

        <% else %>

        <p class="navbar-text" style="font-size: 20px; font-family: Hannari;">ようこそ  ゲスト  さん。</p>

        <li><%= link_to "このサイトについて", home_about_path %></li>

        <li><%= link_to "メニュー" , items_path %></li>

        <li><%= link_to "新規登録" , new_user_registration_path %></li>

        <li><%= link_to "ログイン", user_session_path %></li>

        <% end %>
      </ul>
      </div>
      </div>
    </nav>
    </header>
    <div class="main_background_image">

    <%= yield %>

    </div>
    <footer class="footer" style="background-color: #330000;">
    <div class="container">
      <div class="row">
        <h4 style="color: white;">街の働き者を応援するキッチンカー</h4>
        <ul>
          <li>
            <a href="/" style="color: white;">サイトトップ</a>
          </li>
          <li>
            <a href="/admins/sign_in" style="color: white;">管理者トップ</a>
          </li>
        </ul>
        <p style="float: right; color: white;">powered by Area42</p>
        </div>
      </div>
    </div>
    </footer>
  </body>
</html>
