<!DOCTYPE html>
<html>
  <head>
    <title>Area42</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
  </head>

  <body>
    <header>
  <nav class="navbar navbar-default" style="background-color: #EEE8AA; margin-bottom: 0px;">
    <div class="container-field">
      <div class="navbar-header">
        <p class="navbar-brand"></p>
      </div>
      <div id="navbarEexample7">
      <a class="navbar-logo" href="/" style="background-color: #EEE8AA;">
        <%#= image_tag('logo.jpg') %>
      </a>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;">
        <% if admin_signed_in? %>

        <li><%= link_to "管理画面TOP" , admin_home_top_path %></li>

        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
         </li>

        <% elsif current_page?(new_admin_session_path) %>
  <!-- お客さんのヘッダー-->
        <% elsif user_signed_in? %>

        <p class="navbar-text" style="font-size: 20px; font-family: Hannari;">ようこそ  <%= current_user.name %>  さん。</p>

        <li><%= link_to "このサイトについて", home_about_path %></li>

        <li><%= link_to "マイページ", user_path(current_user.id) %></li>

        <li><%= link_to "商品一覧", items_path %></li>

        <li><%= link_to "クーポン", coupons_index_path %></li>

        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

        <% else %>

        <p class="navbar-text" style="font-size: 20px; font-family: Hannari;">ようこそ  ゲスト  さん。</p>

        <li><%= link_to "このサイトについて", home_about_path %></li>

        <li><%= link_to "商品一覧" , items_path %></li>

        <li><%= link_to "新規登録" , new_user_registration_path %></li>

        <li><%= link_to "ログイン", user_session_path %></li>

        <% end %>
      </ul>
      </div>
      </div>
    </nav>
    </header>

    <%= yield %>

    <footer class="footer">
    <div class="container">
      <div class="row">
        <%#= link_to home_about_path do %>
        <span class='pull-right'>
        <%#= image_tag('logo2.jpg') %>
        </span>
        <%# end %>
        <div class='col-xs-6 col-xs-offset-6'>
        <p>powered by Area42</p>
        </div>
      </div>
    </div>
    </footer>
  </body>
</html>
